&share
 wrf_core = 'ARW',
 max_dom = 1,
 start_date = '2024-07-20_00:00:00',
 end_date   = '2024-07-20_06:00:00',
 interval_seconds = 10800,
 io_form_geogrid = 2,
/

&geogrid
 parent_id         = 1,
 parent_grid_ratio = 1,
 i_parent_start    = 1,
 j_parent_start    = 1,
 e_we              = 100,
 e_sn              = 100,
 geog_data_res     = 'default',
 dx = 27000,
 dy = 27000,
 map_proj = 'lambert',
 ref_lat   = 31.2,
 ref_lon   = 121.5,
 truelat1  = 30.0,
 truelat2  = 60.0,
 stand_lon = 120.0,
 geog_data_path = '/data/WPS_GEOG',
/

&ungrib
 out_format = 'WPS',
 prefix = 'GFS',
/

&metgrid
 fg_name = 'GFS',
 io_form_metgrid = 2,
/

