&time_control
 run_days                            = 0,
 run_hours                           = 6,
 start_year                          = 2024,
 start_month                         = 7,
 start_day                           = 20,
 start_hour                          = 0,
 end_year                            = 2024,
 end_month                           = 7,
 end_day                             = 20,
 end_hour                            = 6,
 interval_seconds                    = 10800,
 input_from_file                     = .true.,
 history_interval                    = 60,
 frames_per_outfile                  = 1,
 restart                             = .false.,
 io_form_history                     = 2,
 io_form_restart                     = 2,
 io_form_input                       = 2,
 io_form_boundary                    = 2,
/

&domains
 time_step                           = 162,
 max_dom                             = 1,
 e_we                                = 100,
 e_sn                                = 100,
 e_vert                              = 50,
 dzstretch_s                         = 1.1,
 p_top_requested                     = 5000,
 num_metgrid_levels                  = 34,
 num_metgrid_soil_levels             = 4,
 dx                                  = 27000,
 dy                                  = 27000,
 grid_id                             = 1,
 parent_id                           = 1,
 i_parent_start                      = 1,
 j_parent_start                      = 1,
 parent_grid_ratio                   = 1,
 parent_time_step_ratio              = 1,
 feedback                            = 1,
 smooth_option                       = 0,
/

&physics
 mp_physics                          = 6,
 cu_physics                          = 1,
 ra_lw_physics                       = 4,
 ra_sw_physics                       = 4,
 bl_pbl_physics                      = 1,
 sf_sfclay_physics                   = 1,
 sf_surface_physics                  = 2,
/

&dynamics
 hybrid_opt                          = 2,
 w_damping                           = 0,
 diff_opt                            = 1,
 km_opt                              = 4,
/

&bdy_control
 spec_bdy_width                      = 5,
 specified                           = .true.,
 nested                              = .false.,
/

&namelist_quilt
 nio_tasks_per_group                 = 0,
 nio_groups                          = 1,
/

